# To get started with Dependabot version updates, you'll need to specify which
# package ecosystems to update and where the package manifests are located.
# Please see the documentation for all configuration options:
# https://help.github.com/github/administering-a-repository/configuration-options-for-dependency-updates

version: 2
updates:
  - package-ecosystem: 'npm'
    directory: '/'
    schedule:
      interval: 'daily'
      time: '01:00'
    open-pull-requests-limit: 99
    ignore:
      - dependency-name: "*"
        update-types: [ "version-update:semver-patch", "version-update:semver-minor" ]
  - package-ecosystem: 'github-actions'
    directory: '/'
    schedule:
      interval: 'daily'
      time: '02:00'
      timezone: 'Europe/Helsinki'
    open-pull-requests-limit: 99
