## Node.js
*.log
logs
results
npm-debug.log
node_modules
site
dist
*generated.js
*.d.ts

## Sass
.sass-cache

## Bower
app/assets/components

## OS X
.DS_Store
.AppleDouble
.LSOverride
Icon
._*
.Spotlight-V100
.Trashes

## Windows
Thumbs.db
ehthumbs.db
Desktop.ini
$RECYCLE.BIN/

.idea
target
bower_components
proto
playwright-report/

## TODO: typescriptify these
scripts/createMathSvg.js
server/mathSvg.js
