body { margin: 0; color: #333; font: 14px/1.42 "Helvetica Neue", Helvetica, Arial, sans-serif; background: #565555; }
h1 { font-size: 18px;}
h2 {font-size: 14px;margin:1em 0 0; padding:0;}
h3 {font-size: 14px; margin:0; padding:0; font-weight: normal; color: #000; margin-top: 1em;}
p { }
section {margin: 0 auto; padding: 2em; max-width: 870px; background: #fff; box-shadow:  0 0 1px 1px #C6E6F2}
footer section {background: transparent; box-shadow: none;}
article {padding: 0 20px;background: #E0F4FE;}
.answer {background: #fff;}
.paragraph { margin: 10px 0; }
footer { font-size: 15px; overflow: hidden; background: #565555; color: #fff; padding: 10px; }
footer section { display: flex; justify-content: space-between; }
footer .paragraph { }
footer a { color: #fff; }
pre { white-space: pre-wrap; }
.save { margin-top: 10px; }
.instructions table [colspan] { font-weight: bold; padding-top:5px;}
.instructions th,
.instructions td {color: #666;padding: 1px 15px;}
.instructions th { padding-left: 0;}
.instructions table th {font-size: 13px;font-weight: normal;text-align: left;}
.instructions table td {font-family: monospace;text-align: right;font-size: 12px;}
ul {padding: 0 1.5em;margin: 0;}
li {}
.instructions {display:flex; margin-top: 10px;}
.hide {display: none;}
.rich-text-editor-toolbar-characters.rich-text-editor-toolbar-button-list .rich-text-editor-button { font-family: "Times New Roman", monospace; color: #555; }
.warning { font-weight: bold; color: #a00;}
