body { color: #333; margin: 5em; font: 14px/1.42 "Helvetica Neue", Helvetica, Arial, sans-serif; }
.answer { border: 1px solid #aaa; padding: 5px; box-sizing: content-box;}
.editMode {
	display: none;
}
.boxes { display: flex; }
.equationEditor {
	width: 200px;
}
.toolbar {
	margin-bottom: 5px;
	display: flex;
	font-size: 10px;
}
.toolbar button { margin-right: 5px; }
.latexEditor {
	width: 200px;
	height: 50px;
}
.result {
	display: block;
	cursor: pointer;
}
.math {margin: 10px;}
.math.focus {box-shadow: 1px 1px 10px 1px rgba(0, 0, 0, .2);padding: 10px;}
.math.focus .result {display: none;}
.math.focus .editMode {display: block;}

