@import url("common.css");

.answer { border: 1px solid #aaa; padding: 5px; box-sizing: content-box; min-height: 100px; font: 17px "Times New Roman";}
.group { border: 5px solid #eee;min-height: 20px; min-width: 20px; display: inline-block;margin-right: 5px;
    padding: 2px 5px 2px 20px;
    background-repeat: no-repeat;
    background-position: 3px 0;
    background-size: 15px 100%;
    background-image: url("aalto.png");
}

