body {
  margin: 5em;
}
.answer {
  border: 1px solid #aaa;
  max-width: 800px;
  padding: 5px;
}
.btn {
  padding: 0 10px !important;
}
li a {
  padding: 2px !important;
  margin: 0
}
.menubar {
  display: none;
  height: 60px;
}
.focus .menubar {
  display: block;
}
.focus .output {
  display: none;
}
.container.focus {
  border: 1px solid #eee;
}

#editable-math, textarea,
#latex-source {
  .focus & {
	display:block;
  }
  display: none;
  width: 200px;
  height: 50px;
  resize: none;
  background: #fff;
}
.box {
  float: left;
  text-align: left;
}
.mathquill-rendered-math * {
  // Fixes Mathuill conflict with Bootstrap
  box-sizing: content-box;
  top: auto;
}
body .container {
  margin: 0;
  display: block;
  width: auto;
}
